.card:hover {
  cursor: pointer;
  animation: myfirst 500ms;
  box-shadow: 1px 1px 5px #1890FF, -1px -1px 5px #1890FF;
}

.card {
  border: 1px solid skyblue;
  background-color: white;
  border-radius: 8px;
  color: black;
  margin: 12px 8px;
  line-height: 2em;
}

.card {
  height: 200px;
  overflow: hidden;
}

@keyframes myfirst
{
  from {box-shadow: 1px 1px 1px #1890FF, -1px -1px 1px #1890FF;}
  to {box-shadow: 1px 1px 5px #1890FF, -1px -1px 5px #1890FF;}
}

#content {
  min-height: calc(100vh - 64px);
}

