<nz-layout>
  <nz-sider
    nzCollapsible
    [(nzCollapsed)]="isCollapsed"
    [nzBreakpoint]="'sm'"
    [nzCollapsedWidth]="0"
    [nzZeroTrigger]="zeroTrigger"
  >
    <ul nz-menu [nzMode]="'inline'" style="height:100%" [nzInlineCollapsed]="isCollapsed">
      <li nz-menu-item><a routerLink="/mine/info"><i nz-icon nzType="info-circle"></i>基本信息</a></li>
      <li nz-menu-item nzSelected><a routerLink="/mine/modify"><i nz-icon nzType="setting"></i>修改密码</a></li>
    </ul>
  </nz-sider>
  <nz-layout>
    <nz-content style="background:#fff; padding: 32px; min-height: 280px;">
      <div class="user-info">
        <label class="user-info-label" for="oldPassword">旧密码: </label>
        <input class="user-info-input" nz-input id="oldPassword" type="password" />
      </div>
      <div class="user-info">
        <label class="user-info-label" for="newPassword1">新密码: </label>
        <input class="user-info-input" nz-input id="newPassword1" type="password" />
      </div>
      <div class="user-info">
        <label class="user-info-label" for="newPassword2">重复新密码: </label>
        <input class="user-info-input" nz-input id="newPassword2" type="password" />
      </div>
      <button nz-button nzType="danger" style="margin-top: 30px"><i nz-icon nzType="reload" nzTheme="outline"></i>更改密码</button>
    </nz-content>
  </nz-layout>
</nz-layout>
<ng-template #zeroTrigger>
  <i nz-icon type="menu-fold" nzTheme="outline"></i>
</ng-template>
