.user-info-label {
  display: inline-block;
  width: 50px;
  font-weight: bold;
}

.user-info-input {
  max-width: 360px;
  width: calc(100vw - 120px);
  margin-right: 20px;
  margin-top: 40px;
}

.user-info-textarea {
  display: inline-block;
  max-width: 480px;
  min-height: 100px;
  width: calc(100vw - 120px);
  margin-right: 20px;
  margin-top: 40px;
}

.user-info-button {

}
