<nz-layout class="layout">
  <nz-header>
    <div *ngIf="!isCollapse" class="logo"></div>
    <ul
      id="mainMenu"
      [class.small-padding]="isCollapse"
      [class.big-padding]="!isCollapse"
      nz-menu [nzMode]="'horizontal'"
      [nzSelectable]="false"
      style="line-height: 62px;"
    >
      <li nz-menu-item><a routerLink="/course-management"><i nz-icon nzType="book"></i>课程管理</a></li>
      <li nz-menu-item><a routerLink="/mine" target="_blank"><i nz-icon nzType="user"></i>我的</a></li>
    </ul>
  </nz-header>
  <router-outlet></router-outlet>
  <div id="line" style="height: 1px; background-color: #d9d9d9"></div>
  <nz-footer style="text-align: center;">
    <p *ngIf="!isCollapse">Fudan University 16SS Advanced Web Course Project</p>
    <p>All rights reserved.</p>
  </nz-footer>
</nz-layout>
