.chapter-entry {
  background: #f7f7f7;
  border-radius: 4px;
  margin-bottom: 24px;
  border: 0;
}

.new-message-input {
  width: calc(100% - 100px);
  max-width: 640px;
}

.add-message-button {
  margin-left: 8px;
}

.message-entry {
  border: 0;
  box-shadow: 1px 1px 3px #595959;
  background-color: white;
  border-radius: 8px;
  color: black;
  margin: 12px 8px;
  padding: 8px;
  line-height: 2em;
}

.message-list-layout {
  background-color: #ffffff00;
  margin: 0;
  padding: 0;
  border: 0;
  max-height: 50vh;
  overflow: auto;
}

.message-index {
  width: 55px;
  color: #1890FFee;
}

.input-line {
  border-top: 1px black;
  margin-top: 10px;
  padding-top: 10px;
}
